<div class="section">
  <div class="issues">  	
  	<b>Open Issues: <br /></b>
		<ul>
			<li> * For Developer, API to fetch Developers throws exception - "You don\'t have permission" . 
				<br /> -> FIX [TBD] - If user is of type Developer, API to get list of Developers should not execute and Dropdown of developers should not be visible
			</li>					
		</ul>
	</div>
	<div class="notice">  	
		<b>Note:</b>
		Both Developer and Manager can change status
	</div>
</div>
<div class="section">
  <span class="flow-text">  	
		Edit Todo
	</span>
	<span>
		<a class="goBack" (click)="baseService.goBack()">Back</a>
	</span>
	
	<div class="divider"></div>  

	<div class="row">
		<div class="col s6 m4 l2">
			<b>Title :</b>
		</div>
		<div class="col s6 m8 l4">
			 {{todo.name}}
		</div>
	</div>

	<div class="row">
		<div class="col s6 m4 l2">
			<b>Status :</b>
		</div>
		<div class="col s6 m8 l4">
			<select (change)="updateTodoStatus($event.target.value)" [(ngModel)]="todo.status" > 
				<option>Select Status</option>
				<option *ngFor="let name of options" [value]="name">{{name}}</option>
			</select>
		</div>
	</div>
</div>
<div class="divider"></div>

<div class="section">
	<div class="row">
		<div class="col s6 m4 l2">
			<b>Assign To :</b>
		</div>
		<div class="col s6 m8 l4">
			<!-- [(ngModel)]="todo.user_id" -->
				<select (change)="assignTodo($event.target.value)" [(ngModel)]="todo.user_id">  
			    <option>Select Developer</option>
			    <option *ngFor="let developer of availableDevelopers"
		        [value]="developer.id">{{developer.email}}
		      </option>
			  </select>
		</div>
	</div>
</div>