<div class="row">
	<div class="col s12 m6 l6">
		<!-- Backend Technology stack -->
		<div class="row">
			<h5> Backend Technology Stack </h5>
			<ul>
				<li> Rails 5 App in API mode </li>
				<li> ruby 2.3.4p301 </li>
				<li> User Authorizarion - <i> gem 'devise_token_auth' &amp; gem 'omniauth' </i> </li>
				<li> Permissions control - <i> gem 'cancancan' and STI (Single Table Inheritance) </i> </li>
				<li> Data serialize - <i> gem 'active_model_serializers' </i> </li>
			</ul>
		</div>
	
		<!-- Frontend Technology stack -->
		<div class="row">
			<h5> Frontend Technology Stack </h5>
			<ul>
				<li> Angular 2 Single Page Application </li>
				<li> Angular CLI to generate assets </li>
				<li> User Authorizarion - <i> angular2-token </i> </li>
				<li> Pie Chart - <i> ng2-google-charts </i> </li>				
				<li> UI Responsiveness - <i> angular2-materialize </i> </li>
			</ul>
		</div>		

	</div>

	<div class="col s12 m6 l6">
		<div class="row">
			<h5> Required Notes on required pages have been added in below format </h5>
		  <div class="notice">  	
		  	<b>Note: <br /></b>
				<ul>
					<li> * For Developer, xxxx </li>
					<li> * For Manager, xxx </li>			
				</ul>
			</div>
		</div>

		<div class="row">
			<h5> Open Issues on required pages have been mentioned in below format </h5>
		  <div class="issues">  	
		  	<b>Open Issues: <br /></b>
				<ul>
					<li> * For Developer, xxxx </li>
					<li> * For Manager, xxx </li>			
				</ul>
			</div>
		</div>

		<!-- Default Data -->
		<div class="row">
			<h5> Default users data </h5>
			<span>[Run <i>rake db:setup</i> in API app, if not done]</span><br />
			<b> Manager type User </b>
			<ul>
				<li> email: 'hoeger@gmail.com', password: "12345678" </li>				
			</ul>

			<b> Developers type User </b>
			<ul>
				<li> email: 'sincere@gmail.com', password: "12345678" </li>
				<li> email: 'shanna@gmail.com', password: "12345678" </li>
				<li> email: 'nathan@gmail.com', password: "12345678" </li>
			</ul>
		</div>
	</div>
	
</div>

