<!--Navigation-->
<div class="navbar-fixed">
  <nav  role="navigation">

    <div class="nav-wrapper blue ">
      <a [routerLink]="['']" id="logo-container" class="brand-logo">Home</a>

      <div *ngIf="!(authService.userSignedIn$ | async)">
        <ul class="right hide-on-med-and-down">        
          <li> 
            <a (click)="presentAuthDialog()" >LOGIN</a>
          </li>
          <!-- <li> 
            <a (click)="presentAuthDialog('register')">REGISTER</a>
          </li> -->
        </ul>  
      </div>

      
      <div *ngIf="(authService.userSignedIn$ | async)">
        <ul class="right hide-on-med-and-down">
          <li>
            <a [routerLink]="['/dashboard']">DASHBOARD</a>
          </li>
          <li>
            <a [routerLink]="['/profile']">PROFILE</a>
          </li>
          <li>
            <a [routerLink]="['/projects']">PROJECTS</a>
          </li>
          <li>
            <a [routerLink]="['/todos']">TODOS</a>
          </li>
          <li>
            <a (click)="logOut()">LOGOUT</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>

<app-auth-dialog #authDialog ></app-auth-dialog>